body {
font-family: Arial, sans-serif;
text-align: center;
}


#board {
display: grid;
justify-content: center;
margin-top: 20px;
}


.cell {
width: 35px;
height: 35px;
border: 1px solid #444;
background-color: #bbb;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
font-weight: bold;
}


.cell.open {
background-color: #e0e0e0;
cursor: default;
}


.cell.mine {
background-color: red;
}


.cell.flag {
background-color: yellow;
}